{% extends "watch/layout.html" %}
{% load static %}

{% block content %}

   {% include "watch/nav.html" %}

   <div class="page">

      {% include "watch/sidebar.html" %}

      <div class="main">
         <div class="content">
            <div class="top">
               <div class="current-hood">
                  <div class="icon-md">
                     <img src="{% static 'svg/map-pin-stroke-white.svg' %}" alt="">
                  </div>
                  <p>{{user.profile.neighbourhood.name }}</p>
               </div>
               <div class="new-post-btn">
                  <a href="{% url 'new_post' %}">
                     <button><img src="{% static 'svg/plus-alt.svg' %}" alt=""> Add Post</button>
                  </a>
               </div>
            </div>
            <div class="posts">
              
               <div class="alerts">
                  <div class="post-icon">
                     <div class="icon">
                        <img src="{% static 'svg/warning.svg' %}" alt="">
                     </div>
                     <p>Alerts</p>
                  </div>
                  {% for alert in alerts  %}
                     <div class="post-card-sm">
                        <div class="author">
                           <div class="avatar-sm">
                              <img src="{{ alert.author.avatar.url }}" alt="">
                           </div>
                           <p>{{ alert.author.user.first_name }} {{ alert.author.user.last_name }}</p>
                        </div>
                        <div class="post-content">
                           <p>{{ alert.content }}</p>
                        </div>
                        <div class="post-comments">
                           <p>{{ alert.comment_set.count }} comments</p>
                        </div>
                     </div>
                  {% endfor %}
               </div>

               <div class="general">
                  <div class="post-icon">
                     <div class="icon">
                        <img src="{% static 'svg/spin.svg' %}" alt="">
                     </div>
                     <p>General</p>
                  </div>
                  {% for general in general  %}
                     <div class="post-card-sm">
                        <div class="author">
                           <div class="avatar-sm">
                              <img src="{{ general.author.avatar.url }}" alt="">
                           </div>
                           <p>{{ general.author.user.first_name }} {{ general.author.user.last_name }}</p>
                        </div>
                        <div class="post-content">
                           <p>{{ general.content }}</p>
                        </div>
                        <div class="post-comments">
                           <p>{{ general.comment_set.count }} comments</p>
                        </div>
                     </div>
                  {% endfor %}
               </div>

               <div class="announcement">
                  <div class="post-icon">
                     <div class="icon">
                        <img src="{% static 'svg/calendar.svg' %}" alt="">
                     </div>
                     <p>Announcements</p>
                  </div>
                  {% for ann in announcements  %}
                     <div class="post-card-sm">
                        <div class="author">
                           <div class="avatar-sm">
                              <img src="{{ ann.author.avatar.url }}" alt="">
                           </div>
                           <p>{{ ann.author.user.first_name }} {{ ann.author.user.last_name }}</p>
                        </div>
                        <div class="post-content">
                           <p>{{ ann.content }}</p>
                        </div>
                        <div class="post-comments">
                           <p>{{ ann.comment_set.count }} comments</p>
                        </div>
                     </div>
                  {% endfor %}
               </div>
   
   

            </div>
         </div>
      </div>

   </div>

  
{% endblock content %}