{% extends "watch/layout.html" %}
{% load static %}
{% load i18n %}

{% block content %}

   {% include "watch/nav.html" %}

   <div id="page"></div>

   <div class="content">

      <div class="updates">

         <h3>{{ user.profile.neighbourhood }}</h3>

         <div class="add">
            <a href="">
               <button>Add Post</button>
            </a>
         </div>


         <div class="hood-posts">

            <h3>Updates</h3>
            <div class="posts">

               {% for post in posts  %}
                  {% if post.category == 'Alert' %}
                     {% trans "red" as txt_color %}
                  {% else %}
                     {% trans "normal" as txt_color %}
                  {% endif %}
                  
                  <div class="post-card">
                     <p class="{{ txt_color }}">{{ post.category }}</p>
                     <p class="post-content">{{ post.content }}</p>
                     <div class="author">
                        <div class="avatar-sm">
                           <img src="{{ post.author.avatar.url }}" alt="">
                        </div>
                        <p>{{ post.author.user.first_name }} {{ post.author.user.last_name }}</p>
                     </div>
                  </div>
               {% endfor %}
            </div>

         </div>

      </div>

   </div>

   <div class="sidebar">
      <div class="profile">
         <div class="avatar-lg">
            <img src="{{ user.profile.avatar.url }}" alt="">
         </div>
      </div>
      <div class="hood">
         <h3>{{ hood.name }}</h3>
         <h5>{{ hood.location }}</h5>
         <div class="amenities">
            {% for amenity in amenities  %}
               <h5>{{ amenity.name }}</h5>
               <p>{{ amenity.category }}</p>
               <div class="contacts">
                  <p>{{ amenity.tel }}</p>
                  <p>{{ amenity.email }}</p>
               </div>
            {% endfor %}
         </div>
         <div class="amenities">
            {% for business in businesses  %}
               <h5>{{ business.name }}</h5>
               <p>{{ business.category }}</p>
               <div class="contacts">
                  <p>{{ business.tel }}</p>
                  <p>{{ business.email }}</p>
               </div>
            {% endfor %}
         </div>
      </div>
   </div>

   
{% endblock content %}