{% extends "watch/layout.html" %}
{% load static %}

{% block content %}

   {% include "watch/nav.html" %}

   <div class="auth-form">
      <h1>Update Profile</h1>
      <form action="" method="post">
         {% csrf_token %}
         {{ form.as_p }}
         <p>Don't see your current neighbourhood? <a href="">Add it</a> </p>
         <button class="btn" type="submit">Update Profile</button>
      </form>
      <div class="auth-check">
         <p></p>
      </div>
   </div>
  
{% endblock content %}
