{% load static %}

<div class="sidebar">

   <div class="current-profile">
      <div class="avatar-sm">
         <img src="{{ user.profile.avatar.url }}" alt="">
      </div>
      <p>{{ user.first_name }} {{ user.last_name }}</p>
   </div>
   <div class="menu-item">
      <div class="icon">
         <img src="{% static 'svg/news.svg' %}" alt="">
      </div>
      <p>Feed</p>
   </div>
   <div class="menu-item">
      <div class="icon">
         <img src="{% static 'svg/briefcase.svg' %}" alt="">
      </div>
      <p>Businesses</p>
   </div>
   <div class="menu-item">
      <div class="icon">
         <img src="{% static 'svg/leaf.svg' %}" alt="">
      </div>
      <p>Amenities</p>
   </div>
   
</div>