@import "helpers/mixins";
@import "helpers/placeholders";
@import "helpers/functions";

body {
   margin: 0;
   padding: 0;
   font-family: 'Khula', sans-serif;
}

// New styling
nav {
   display: flex;
   margin: 1% 3%;
   align-items: center;
   > .avatar-sm {
      margin-left: auto;
   }
}

.logo {
   width: 15px;
   height: auto;
   overflow: hidden;
   img {
      width: 100%;
   }
}

.content {
   display: flex;
   flex-direction: row;
   margin: 2% 3%;
}

.updates {
   width: 80%;
}

.sidebar {
   width: 20%;
}

.avatar-lg {
   width: 100px;
   height: 100px;
   overflow: hidden;
   img {
      width: 100%;
   }
}

.avatar-sm {
   width: 21px;
   height: 21px;
   overflow: hidden;
   border-radius: 50%;
   img {
      height: 100%;
   }
}

.hood-posts {
   background-color: #F3F2EF;

   > h3 {
      margin-left: 1%;
      padding-top: 2%;
   }
}

.posts {
   display: flex;
   flex-direction: row wrap;
   padding-bottom: 2%;
}

.post-card {
   width: 24%;
   margin: 0.4% 0.8%;
   background-color: #fff;
   > p,  > div {
      padding: 0 7%;
   }

   > .post-content {
      @include fonts(clr(p2),fz(s),500);
   }
}

.red {
   @include fonts(clr(s2),fz(md),600);
}

.normal {
   @include fonts(clr(p2),fz(md),600);
}

.author {
   display: flex;
   align-items: center;
   > p {
      margin: 0 1%;
      @include fonts(clr(prmry),fz(s),600);
   }
}

.auth-form {
   width: 30%;
   margin: 5% auto;

   h1 {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      @include fonts(clr(prmry),fz(l),600);
   }
   p > label, p > input {
      width: 100%;
   }

   ul {
      display: none;
   }

   button {
      width: 30%;
      text-align: center;
      margin: 0 auto;
   }
}

.helptext {
   display: none;
}

.btn {
   background-color: clr(prmry);
   border: none;
   padding: 6px 12px;
   @include fonts(#fff,fx(s),500);
}

.auth-check > p {
   text-align: center;
}